USE [ShopAdo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/13/2019 6:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ManufacturerId] [int] NULL,
	[CategoryId] [int] NULL,
	[Price] [money] NOT NULL,
	[ProductCount] [numeric](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 9/13/2019 6:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] NOT NULL,
	[Summa] [money] NOT NULL,
	[ProductId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalePos]    Script Date: 9/13/2019 6:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalePos](
	[PosId] [int] NOT NULL,
	[SaleId] [int] NULL,
	[ProductId] [int] NOT NULL,
	[unitprice] [money] NOT NULL,
	[qty] [smallint] NOT NULL,
	[discount] [numeric](4, 3) NOT NULL,
 CONSTRAINT [PK_ProIdPosIs] PRIMARY KEY CLUSTERED 
(
	[PosId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Smartphone')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Notebook')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Printer')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (1, N'Samsung')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (2, N'Lenovo')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (3, N'Nokia')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [ManufacturerId], [CategoryId], [Price], [ProductCount]) VALUES (1, N'HP LaserJet P2035 (CE461A)', 8, 3, 5445.0000, CAST(12.000 AS Numeric(18, 3)))
INSERT [dbo].[Product] ([ProductId], [ProductName], [ManufacturerId], [CategoryId], [Price], [ProductCount]) VALUES (2, N'Canon i-SENSYS MF212W with Wi-F', 9, 3, 3999.0000, CAST(7.000 AS Numeric(18, 3)))
INSERT [dbo].[Product] ([ProductId], [ProductName], [ManufacturerId], [CategoryId], [Price], [ProductCount]) VALUES (3, N'Samsung SCX-4650N ', 1, 3, 3999.0000, CAST(15.000 AS Numeric(18, 3)))
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Sale] ([SaleId], [Summa], [ProductId]) VALUES (5, 37080.0000, 10)
INSERT [dbo].[Sale] ([SaleId], [Summa], [ProductId]) VALUES (7, 13600.0000, 14)
INSERT [dbo].[SalePos] ([PosId], [SaleId], [ProductId], [unitprice], [qty], [discount]) VALUES (1, 5, 12, 11350.0000, 26, CAST(0.200 AS Numeric(4, 3)))
INSERT [dbo].[SalePos] ([PosId], [SaleId], [ProductId], [unitprice], [qty], [discount]) VALUES (2, 5, 1, 8000.0000, 26, CAST(0.600 AS Numeric(4, 3)))
INSERT [dbo].[SalePos] ([PosId], [SaleId], [ProductId], [unitprice], [qty], [discount]) VALUES (3, 7, 2, 8000.0000, 26, CAST(0.050 AS Numeric(4, 3)))
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [ProductCount]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([ManufacturerId])
GO
ALTER TABLE [dbo].[SalePos]  WITH CHECK ADD  CONSTRAINT [FK_SalePos_Sale] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sale] ([SaleId])
GO
ALTER TABLE [dbo].[SalePos] CHECK CONSTRAINT [FK_SalePos_Sale]
GO
